{% extends 'layout.html' %}

{% block content %}
    <div class="category-container">
        <div class="category-form">
                <h2>ADD CATEGORY</h2>
                <form action="" method="POST" enctype="multipart/form-data">
                    <input type="text" name="category" id="category" placeholder="Add a Category name" required>
                    <!-- <input type="file" name="category_image" id="category_image"> -->
                    <input type="submit" value="Add Category">
                </form>
        </div>
    </div>
{% endblock content %}