{% extends 'admin/layout.html' %}

{% block content %}
    
<div class="table-container">
    <table class="table">
        <caption>CATEGORIES</caption>
        <thead>
            <th>S/N</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td> {{ loop.index }} </td>
                <td>{{ category.category_name }}</td>
                <td>
                    <a href="{{url_for('updateCategory', id=category.id)}}" title="edit {{category.category_name}}" ><i class="edit fa-solid fa-pen-to-square"></i></a>
                </td>
                <td>
                    <a href="#" title="delete {{category.category_name}}"><i class="delete fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}