{% extends "layout.html" %}

{% block content %}

    <!-- ---------------------------------- CAROUSEL/SLIDER -------------------------------- -->
    <div class="slider-container">
        <div class="slideshow-container">

            <div class="slide fade slide-display">
               
                <div class="slide-img">
                    <img src="{{url_for('static', filename='img/burger.png')}}">
                </div>
                <div class="slide-content">
                    <h3>Burger</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                    <a href="#" class="order-btn">order now</a>
                </div>
            
            </div>
            
            <div class="slide fade slide-display">
                
                <div class="slide-img">
                    <img src="{{url_for('static', filename='img/kisspng-gobi-manchurian-indian-chinese-cuisine-chilli-chic-gobi-manchurian-5b29e6d6727b04.4294632015294727264689.png')}}">
                </div>
                <div class="slide-content">
                    <h3>Meat Sauce</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                    <a href="#" class="order-btn">order now</a>
                </div>
            </div>

            <div class="slide fade slide-display">
                
                <div class="slide-img">
                    <img src="{{url_for('static', filename='img/home-img-1.png')}}">
                </div>
                <div class="slide-content">
                    <h3>Spaghetti</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                    <a href="#" class="order-btn">order now</a>
                </div>
            </div>

            <div class="slide fade slide-display">
                
                <div class="slide-img">
                    <img src="{{url_for('static', filename='img/barbeque.png')}}">
                </div>
                <div class="slide-content">
                    <h3>Grills</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                    <a href="#" class="order-btn">order now</a>
                </div>
            </div>
            

            <div class="slide fade slide-display">
                
                <div class="slide-img">
                    <img src="{{url_for('static', filename='img/home-img-2.png')}}">
                </div>
                <div class="slide-content">
                    <h3>Chicken</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                    <a href="#" class="order-btn">order now</a>
                </div>
            </div>
            
            <!-- slider rectangles-below  -->
            <div class="indicators-container">
              <span class="indicator"></span> 
              <span class="indicator"></span>
              <span class="indicator"></span> 
              <span class="indicator"></span> 
              <span class="indicator"></span> 
            </div>
            <!-- END slider rectangles-below  -->
        </div>
    </div>
    <!-- `------------------------------------ END CAROUSEL/SLIDER --------------------------------- -->
    <div class="clear-fix"></div>
    <!-- ------------------------------------ MENU CARDS ------------------------------------------- -->
    <div class="menu" id="menu">
        <div class="caption">
            <span>Our Dishes</span>
            <h3>Menu</h3>
        </div>
        <div class="menu-grid">
            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item" >
                </div>
                <div class="content">
                    <h3>Food Name</h3>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>
       

        
            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item" >
                </div>
                <div class="content">
                    <h3>Food Name</h3>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>
        
        
            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item" >
                </div>
                <div class="content">
                    <h3>Food Name</h3>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>
    

        
            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item" >
                </div>
                <div class="content">
                    <h3>Food Name</h3>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>

            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item" >
                </div>
                <div class="content">
                    <h3>Food Name</h3>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>

            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item" >
                </div>
                <div class="content">
                    <h3>Food Name</h3>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>

            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item" >
                </div>
                <div class="content">
                    <h3>Food Name</h3>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>

            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item" >
                </div>
                <div class="content">
                    <h3>Food Name</h3>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>
            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item" >
                </div>
                <div class="content">
                    <h3>Food Name</h3>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>

            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item" >
                </div>
                <div class="content">
                    <h3>Food Name</h3>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>

            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item" >
                </div>
                <div class="content">
                    <h3>Food Name</h3>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>

            <div class="menu-card">
                <div class="menu-img">
                    <img src="img/burger.png" alt="Menu-Item">
                </div>
                <div class="content">
                    <h3>Food Name</h5>
                    <p><span>Price: &#8358;</span> 500</p>
                    <a href="#" class="order-btn">Add to Cart</a>
                </div>
            </div>

        </div>

    </div>
{% block modal %}
{% endblock modal %}

{% endblock content %}
