{% extends "layout.html" %}

{% block content %}

    <!-- ---------------------------------- CAROUSEL/SLIDER -------------------------------- -->
    <div class="slider-container">
        <div class="slideshow-container">

            <div class="slide fade slide-display">
               
                <div class="slide-img">
                    <img src="{{url_for('static', filename='img/burger.png')}}">
                </div>
                <div class="slide-content">
                    <h3>Burger</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                    <a href="#" class="order-btn">order now</a>
                </div>
            
            </div>
            
            <div class="slide fade slide-display">
                
                <div class="slide-img">
                    <img src="{{url_for('static', filename='img/kisspng-gobi-manchurian-indian-chinese-cuisine-chilli-chic-gobi-manchurian-5b29e6d6727b04.4294632015294727264689.png')}}">
                </div>
                <div class="slide-content">
                    <h3>Meat Sauce</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                    <a href="#" class="order-btn">order now</a>
                </div>
            </div>

            <div class="slide fade slide-display">
                
                <div class="slide-img">
                    <img src="{{url_for('static', filename='img/home-img-1.png')}}">
                </div>
                <div class="slide-content">
                    <h3>Spaghetti</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                    <a href="#" class="order-btn">order now</a>
                </div>
            </div>

            <div class="slide fade slide-display">
                
                <div class="slide-img">
                    <img src="{{url_for('static', filename='img/barbeque.png')}}">
                </div>
                <div class="slide-content">
                    <h3>Grills</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                    <a href="#" class="order-btn">order now</a>
                </div>
            </div>
            

            <div class="slide fade slide-display">
                
                <div class="slide-img">
                    <img src="{{url_for('static', filename='img/home-img-2.png')}}">
                </div>
                <div class="slide-content">
                    <h3>Chicken</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                    <a href="#" class="order-btn">order now</a>
                </div>
            </div>
            
            <!-- slider rectangles-below  -->
            <div class="indicators-container">
              <span class="indicator"></span> 
              <span class="indicator"></span>
              <span class="indicator"></span> 
              <span class="indicator"></span> 
              <span class="indicator"></span> 
            </div>
            <!-- END slider rectangles-below  -->
        </div>
    </div>
    <!-- `------------------------------------ END CAROUSEL/SLIDER --------------------------------- -->
    <div class="clear-fix"></div>
    <!-- ------------------------------------ MENU CARDS ------------------------------------------- -->
    <div class="menu" id="menu">
        <div class="caption">
            <span>Our Dishes</span>
            <h3>Menu</h3>
        </div>

        <!-- GRID VIEW HOUSING ALL MENU-CARDS -->
        <div class="menu-grid">

            <!-- loop for food items -->
            {% for food in foods.items %}       <!-- .items to get number of items for pagination --> 

            <!--card display  -->
                <div class="menu-card">
                    <!-- card image -->
                    <div class="menu-img">
                        <img src="{{url_for('static', filename='img/' + food.image)}}" alt="Menu-Item" >        <!-- image location-->
                    </div>

                    <!-- content of food -->
                    <div class="content">
                        <h3>{{ food.food_name }}</h3>                           <!-- display food name-->
                        <p><span>Price: &#8358;</span>  {{ food.price }} </p>   <!-- display food price-->
                        <!-- if theres a discount, display. else none -->
                        {% if food.discount > 0 %}
                            <div id="discount">
                                <p><span>-</span> {{ food.discount }}% </p>
                            </div>
                        {% endif %}

                        <!-- add to cart button -->
                        <a href="#" class="order-btn">Add to Cart</a>
                    </div>
                    <!-- end content -->

                </div>
            <!--end card display  -->

            {% endfor %}
            <!-- end of loop -->

        </div>
        <!-- END OF GRID VIEW -->

         <!-- Pagination -->
        <div class="row">
            <!-- previous button -->
            {% if foods.has_prev %}
            <a href="{{url_for('home', page=foods.prev_num)}}" class="btn-outline-orange"> prev  </a>  <!--display previous page -->
            {% endif %}
            <!-- end previous -->

            {% for page_num in foods.iter_pages() %}    <!-- iterate food items pages-->
                {% if page_num %}

                    {% if foods.page == page_num %}
                    <a href="{{url_for('home', page=page_num)}}" class="btn-orange"> {{page_num}} </a>   <!--display current page as active-->
                    {% else %}
                    <a href="{{url_for('home', page=page_num)}}" class="btn-outline-orange"> {{page_num}}  </a>  <!--display current page and required number of pages-->
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}


            <!-- next button -->
            {% if foods.has_next %}
            <a href="{{url_for('home', page=foods.next_num)}}" class="btn-outline-orange"> next  </a>  <!--display next page -->
            {% endif %}
            <!-- end next -->

        </div>
        <!-- end pagination -->



    </div>
{% block modal %}
{% endblock modal %}

{% endblock content %}
