{% extends 'layout.html' %}

{% block content %}
<!-- <div class="modal" id="form-modal"> -->

<div class="form-body ">
    <div class="wrapper">
        <div class="title-text">
           <!-- <div class="title login">
              Login Form
           </div> -->
           <div class="title signup">
              Signup Form
           </div>
        </div>
        <div class="form-container">
           <!-- <div class="toggle-controls">
              <input type="radio" name="toggle" id="login" checked>
              <input type="radio" name="toggle" id="signup">
              <label for="login" class="toggle login">Login</label>
              <label for="signup" class="toggle signup">Signup</label>
              <div class="toggler-tab"></div> -->
           </div>
           <div class="form-inner">
              <!-- --------------------------- LOGIN ---------------------------- -->
              <!-- <form action="#" class="login" method="POST">
                 <div class="field">
                    <input type="text" placeholder="Email Address" class="input" required>
                 </div>
                 <div class="field">
                    <input type="password" placeholder="Password" class="input" required>
                 </div>
                 <div class="pass-link">
                    <a href="#">Forgot password?</a>
                 </div>
                 <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login">
                 </div>
                 <div class="signup-link">
                    Not a member? <a href="">Signup now</a>
                 </div>
              </form> -->

              <!-- ----------------------------- SIGNUP -------------------------------- -->
            <form action="" id="signup-form" class="signup" method="POST">
               {{ form.hidden_tag() }}
                  <!-- --------username field -------------- -->
                  <div class="field">
                     {% if form.username.errors %}    <!-- if there's an error -->
                        {{ form.username(class="input", placeholder="Create username", required="required") }}
                        {% for error in form.username.errors %} <!--loop through the possible errors-->
                           <div class="invalid-feedback">
                              {{error}}
                           </div>
                        {% endfor %}
                     {% else %}
                     {{ form.username(class="input", placeholder="Create username", required="required") }}
                     {% endif %}
                  </div>

                  <!-- -------- Email field -------------- -->
                  <div class="field">
                     {% if form.email.errors %}
                        {{ form.email(class="input", placeholder="Email Address", required="required") }}

                        {% for error in form.email.errors %}
                           <div class="invalid-feedback">
                              {{error}}
                           </div>
                        {% endfor %}
                     {% else %}
                        {{ form.email(class="input", placeholder="Email Address", required="required") }}
                     {% endif %}
                  </div>

                  <!-- ---------- Password field ---------- -->
                  <div class="field">
                     {% if form.password.errors %}
                        {{ form.password(class="input", placeholder="Create password", required="required") }}
                        {% for error in form.password.errors %}
                           <div class="invalid-feedback">
                              {{error}}
                           </div>
                        {% endfor %}
                     {% else %}
                        {{ form.password(class="input", placeholder="Create password", required="required") }}

                     {% endif %}
                  </div>

                  <!-- ---------- Confirm password ---------- -->
                  <div class="field">
                     {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="input", placeholder="Confirm password", required="required") }}
                        {% for error in form.confirm_password.errors %}
                           <div class="invalid-feedback">
                              {{error}}
                           </div>
                        {% endfor %}
                     {% else %}
                        {{ form.confirm_password(class="input", placeholder="Confirm password", required="required") }}

                     {% endif %}
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     {{ form.submit(class="input", type="submit") }}
                  </div>
                  <div class="field">
                     <small>Already have an account?</small> <a href="{{url_for('login')}}">Login Here!</a>
                  </div>
            </form>
           </div>
        </div>
     </div>
    
</div>
<!-- </div> -->

{% endblock content %}

